body, html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  flex: 1;
}

header, footer {
  background-color: rgb(42, 161, 221);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display:flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  padding-left: 20px;
}

.footer-icons{
  padding-bottom: 30px;
}
footer {
  color: white;
  flex-direction: column;
  gap: 5px;
}

.profile {
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top {
  position: relative;
}

main {
  display:flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
}
#one {
  background-color: rgb(134, 79, 134);
}

#two {
  background-color: orange;
}

#three {
  background-color: green;
}

#four {
  background-color: pink;
}

#five {
  background-color: lightblue;
}

#six {
  background-color: darkgoldenrod;
}

.picture{
  color: white;
  
}

.footer-profile {
  width: 100%;
}

.description {
  height:40%; 
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  grid-template-columns: 1fr 0.25fr;
  padding-top: 5px;
}

.bottom-half {
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 10px;
  padding-top: 0px;
  color: rgb(156, 146, 146);
}

.project-name {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 10px;
  padding-right: 20px;
}

.project-icons {
  grid-row: 1/2;
  grid-column: 2/3;
  padding-right: 5px;
}

@media (max-width: 600px){

  img {
    width: 300px
  }


  .icon {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
  .name {
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 0;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-left: 20%;
    text-align: center;
  }

  .projects {
    width: 70%;
    height: 100%;
  }

  .project {
    margin-bottom: 30px;
    border: 1px solid;
  }


  .picture {
    height:60%;
    padding: 50px 20px 50px 20px;
  }
}